<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
<link rel="stylesheet" href="/default.css">

<style>
	
	.error{
	 color: #FF0000;
	}
	
	
</style>
</head>


<body>
<div id="container">
  <h1>[ 게시판 - 글쓰기 ]</h1>
  <input type="button" onclick="location.href='/'" value="메인으로">
  <p>
  <form action="write" method="post" enctype="multipart/form-data"	th:object="${writeForm}">
 	
 	 <div th:if="${#fields.hasGlobalErrors()}">
		<p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
	</div>
 
	
    <table>
      <tr>
        <th>제목</th>
        <td><input type="text" th:field="*{title}">
 		<div class="error" th:errors="*{title}"></div>
 		</td>
        
      </tr>
      <tr>
        <th>내용</th>
        <td>
        <textarea rows="10" cols="30" th:field="*{contents}" ></textarea>
    		<div class="error" th:errors="*{contents}"></div>
         		</td>
      </tr>
    
      
      <tr>
        <th>첨부 파일</th>
        <td><input type="file" name="file"> </td>
      </tr>
      
      
    </table>
    <p>
    <div class="center">
      <input type="submit" value="등록하기">
      <input type="reset" value="취소">
    </div>
  </form>
</div>
</body>
</html>